TWITTER_CONSUMER_KEY         = 'DEFINE-ME-IN-LOCAL-SETTINGS'
TWITTER_CONSUMER_SECRET      = 'DEFINE-ME-IN-LOCAL-SETTINGS'
FACEBOOK_APP_ID              = 'DEFINE-ME-IN-LOCAL-SETTINGS'
FACEBOOK_API_SECRET          = 'DEFINE-ME-IN-LOCAL-SETTINGS'

INTERNAL_IPS = ('127.0.0.1', 'YOUR-IP-ADDRESS-HERE')
