{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}

            <h2>Associate accounts</h2>
            <p>Logged in with the wrong account?  You can associate your other account here:</p>

            {% if not request.my_profile.twitter_username %}
                <p><a class="btn large primary" href="{% url socialauth_associate_begin 'twitter' %}">Associate this</a> with your Twitter account</p>
            {% endif %}

            {% if not request.my_profile.fb_username %}
            <p><a class="btn large primary" href="{% url socialauth_associate_begin 'facebook' %}">Associate this</a> with your Facebook account</p>
            {% endif %}

        {% else %}
            <p>You'll need to <a href="{% url login %}">log in</a> before you can associate one of your accounts with another.</p>
        {% endif %}
{% endblock %}
