<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block title %}{% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
</head>

<body>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="{% url home %}">Handstand</a>
      <ul class="nav">
        <li><a href="{% url about %}">About</a></li>
        <li><a href="{% url profile_list %}">All Profiles</a></li>

    {% if request.user.is_authenticated %}
        <li><a href="{% url dashboard %}">Dashboard</a></li>
    {% endif %}

      </ul>

      <ul class="nav secondary-nav">
        {% if request.user.is_authenticated %}
          <li class="dropdown" data-dropdown="dropdown"><a href="#" class="dropdown-toggle">{{ request.user.username }}</a>
              <ul class="dropdown-menu">
                <li><a href="{% url profile_detail request.user.username %}">My profile</a>
                <li class="divider"></li>
                <li><a href="{% url logout %}">Sign out</a></li>
              </ul>
          </li>
        {% else %}
          <li><a href="{% url login %}">Sign in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="span16">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script type="text/javascript">
$(function() {
  $('.topbar').dropdown()
});
</script>
</body>
</html>
